<div class="container site-header">
    <div class="card">
        <div class="card-body">
            <h3>Uh oh! Something went wrong.</h3>
            <br>
            <p class="lead">{{message}} [{{status}} {{code}}]</p>
            <pre>{{ errorData }}</pre>
            <pre>{{ stack }}</pre>
        </div>
    </div>
</div>
